<!-- The Modal -->
<div id="myModal" class="modal">
<div class="modal-background"></div>
  <!-- Modal content -->
  <div class="modal-content">
        <form action="/album/" method="POST">
            <div class="field content">
                <label class="label">Enter Album Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Album Name" name="title">
                </div>
                <label class="label">Enter Cover URL</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Cover Image URL" name="albumImg">
                </div>
                <button class="button is-info" type="submit">Save</button>
            </div>
        </form>

  </div>
</div>