<section class="hero is-info is-medium is-bold">

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="block">
                <div class="card">
                    <!-- <div class="card-content"><img src="https://cdn.filestackcontent.com/aoiEO48QtWXiFIf2hyWg" alt=""></div>
                    <div class="card-content"><img src="https://cdn.filestackcontent.com/WbluyBOTICrCID7MEeIo" alt=""></div>
                    <div class="card-content"><img src="https://cdn.filestackcontent.com/MjhrBMIwQf2D2duyCN6d" alt=""></div>
                    <div class="card-content"><img src="https://cdn.filestackcontent.com/ggCk1qQQNKGh6MktdUA2" alt=""></div>
                    <div class="card-content"><img src="https://cdn.filestackcontent.com/WKO0IMjgRiSlHB2PzKG6" alt=""></div>
                    <div class="card-content"><img src="https://cdn.filestackcontent.com/AOlxaFQ5RIyk7Q6fbswn" alt=""></div> -->
                </div>
            </div>
            <div class="block">
                <div class="your-class">
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/aoiEO48QtWXiFIf2hyWg" alt=""></div>
                    </div>
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/WbluyBOTICrCID7MEeIo" alt=""></div>
                    </div>
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/MjhrBMIwQf2D2duyCN6d" alt=""></div>
                    </div>
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/ggCk1qQQNKGh6MktdUA2" alt=""></div>
                    </div>
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/WKO0IMjgRiSlHB2PzKG6" alt=""></div>
                    </div>
                    <div class="card carousel-card">
                        <div class="card-content"><img src="https://cdn.filestackcontent.com/AOlxaFQ5RIyk7Q6fbswn" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="nav">
                    <div class="nav-center">
                        <button class="button is-dark" type="button" value="Upload" onclick="showPicker()">Upload!</button>
                        <p>THIS IS USER #{{id}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>