<head>
    <meta charset="UTF-8">
    <title>CMS - Express</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container">
             {{!-- column is-half is-offset-one-quarter --}}

                {{!-- <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
                    </figure>
                </div> --}}
                <div class="hero-image">
                    <img src="http://loremflickr.com/600/440/dog?random=10" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=11" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=12" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=13" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=14" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=15" alt="">
                </div>
            <div class="block">
                <div class="your-class">
                    <img src="http://loremflickr.com/600/440/dog?random=10" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=11" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=12" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=13" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=14" alt="">
                    <img src="http://loremflickr.com/600/440/dog?random=15" alt="">
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container">
    <div class="nav">
        <div class="nav-left">
            <p class="control level">
                <a class="button is-primary " type="button" value="Upload" onclick="showPicker()">
                    <span class="icon">
                    <i class="fa fa-upload"></i>
                    </span>
                    <span>Upload Images</span>
                </a>
            </p>
        </div>
        <div class="nav-right">
            <div class="nav-item">
                <div class="field has-addons">
                    <p class="control">
                        <input type="email" class="input" placeholder="invite by email">
                    </p>
                    <p class="control">
                        <a href="" class="button is-primary is-bold">Invite!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=1" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=2" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=3" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=4" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=5" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=6" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=7" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=8" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440/dog?random=9" alt="Image">
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $.get("/api/album/", function(response){
            for (let value of response){
                console.log(value.dataValues)
                console.log(value.album.dataValues)
            }
        })
    })

</script>

