<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
        <figure class="image is-128x128">
            <img src="https://api.adorable.io/avatars/285/{{username}}.png" alt="Image">
        </figure>
        <h1 class="title is-2">
        Hello {{username}}
        </h1>
        <h2 class="subtitle is-3">
        Welcome to Photo Share
        </h2>
    </div>
  </div>
</section>

<div class="container">
    <div class="nav">
    <div class="nav-right">
        <div class="nav-item">
            <a class="button is-warning" type="button" href="/album">Create Album</a>
        </div>
    </div>
</div>
</div>

<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">

            <div class="title is-1 has-text-centered">
                Here are your albums
            </div>

            <div class="columns is-multiline">

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440?random=5" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://api.adorable.io/avatars/285/john.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Turning 30!</p>
                                    <p class="subtitle is-6">by: John Smith</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440?random=4" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://api.adorable.io/avatars/285/bill.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">First Birthday</p>
                                    <p class="subtitle is-6">by: Bill Swenson</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440?random=3" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://api.adorable.io/avatars/285/ron.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Vacation</p>
                                    <p class="subtitle is-6">by: Ron Goldman</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440?random=2" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://api.adorable.io/avatars/285/billy.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Sunsets</p>
                                    <p class="subtitle is-6">by: Bill clinton</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img src="http://loremflickr.com/600/440?random=1" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img src="https://api.adorable.io/avatars/285/bills.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Nature</p>
                                    <p class="subtitle is-6">by: Jack Black</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>   