<section class="hero is-warning is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
            <div class="title is-1 has-text-centered">
                Welcome To Photo Share
            </div>
            <div class="column is-half is-offset-one-quarter">
                <div class="card">
                    <div class="card-content">
                        <form id="signup" name="signup" action="/signup" method="POST">
                            <div class="field">
                                <label for="username" class="label">Username</label>
                                <input type="text" class="input" placeholder="Username" name="username">
                            </div>
                            <div class="field">
                                <label for="email" class="label">Email</label>
                                <input type="email" class="input" placeholder="email" name="email">
                            </div>
                            <div class="field">
                                <label for="password" class="label">Password</label>
                                <input type="password" class="input" placeholder="password"  name="password">
                            </div>
                            <div class="field">
                                <label for="passwordMatch" class="label">Password</label>
                                <input type="password" class="input" placeholder="password" name="passwordMatch">
                            </div>
                            <div class="content has-text-centered">
                                <button class="button is-primary" type="submit">Create User</button>
                            </div>
                        </form>
                        <p class="has-text-centered">Already a member? <a href="/signin"><span class="has-text-info">Sign In </span></a>here</p>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>