body {
    /* background-color: #5591DD; */
}

.brand-text {
    font-weight: bold;
}

.hero-image {}

.hero-image img {
    height: 400px;
    border: 15px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.your-class img {
    height: 200px;
    margin: 30px;
    border: 15px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slick-list {
    overflow: hidden;
}