body {
    background-color: #5591DD;
}

.your-class {
    /* margin: 0 50px; */
}

.slick-slide img {
    /* height: 200px; */
}


/* .hero-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */


/* .slick-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.hero-image img {
    height: 400px;
}

.carousel-card {
    margin: 30px;
    /* margin-left: 100px; */
    max-width: 1200px;
}

.your-class img {
    height: 200px;
}


/* Solution 1: remove the card and add a white border to images. */